body{
     max-width: 900px;
     font-family: "Arial";
     font-size: 1.2em;
     margin: auto;
}

.menu{
    width: 800px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 15px;
    width: 150px;
    margin: 5px;
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 3px;
    padding: 10px 30px;
    background-color: palegoldenrod;
    text-shadow: 0 1px 0 #fff;
    color: rgb(175, 170, 120);
    box-shadow: 1px 2px 0 #ccc, 1px 2px 0 rgba(255,255,255,.5) inset;
}
.btn:hover{
    box-shadow: none;
    cursor: pointer;
}
a.btn{
    text-decoration: none;
}
.btn-menu{
    float: right;
    width: 60px;
    padding: 5px 10px;
    height: 35px;
}

.container{
    width: 800px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.title{
    margin: auto;
    padding-top: 15px;
    height: 60px;
    font-size: 1.6em;
    border-bottom: 1px dashed #000;
    background-color: #eee;
    vertical-align: middle;
}

.title:first-letter{
    color: rgb(14, 108, 248);
}

.main-text{
    border: 2px solid #ccc;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

#timer{
    width: 80px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    margin-left: 350px;
    text-align: center;
}

#typer{
    text-align: left;
    margin: 10px;
    width: 770px;
    font-size: 1em;
}

#cpm{
    margin: 10px;
    height: 20px;
}

.wrong-word{
    color: #FFF;
    background-color: #FF2815;
}

.correct-word{
    color: #FFF;
    background-color: #00fa15;
}
